#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=machine1.test.com

# Root password
rootpw --iscrypted $6$9.M0Awjyh4/EBdI8$xzw7iZU1NiWLZ.LB5mRldf0T5CD2DnXgztsz3Jpk1brt5FHUijBfkRsZdGYJjA1AJPRZi/zaaK6bq0ROXb7QK1
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --name=shiv --password=$6$A3B0dV0mhyNKr5ed$mv92y6UGk9wUritHNcNPUlZ1Q.PWhhLPAlROLnCfu2m.VnNrPL.IPuDMuaJSDax2jdoSK6vQGg8IdyrMrVteI0 --iscrypted --gecos="shiv"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part swap --fstype="swap" --ondisk=sda --size=2048
part /boot --fstype="xfs" --ondisk=sda --size=1024
part /home --fstype="xfs" --ondisk=sda --size=2072
part / --fstype="xfs" --ondisk=sda --size=10240

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11

%end

%addon com_redhat_kdump --disable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
